@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #342626;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

/* SCROLL BARS */
/* 1 - Hidden scroll bar */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-x-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-x-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 2- simple scroll bar */
.simple-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.simple-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.simple-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.simple-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.simple-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

/* misc */
.textShadow {
  text-shadow: 1px 1px 1px #000;
}

.imageFilter {
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 40%),
    rgba(0, 0, 0, 0)
  );
}

.galleryCol {
  justify-self: auto;
}

.galleryCol:nth-child(1) {
  grid-column: span 6;
  max-height: 20rem;
}
.galleryCol:nth-child(2) {
  grid-column: span 6;
  max-height: 20rem;
}
.galleryCol:nth-child(3) {
  grid-row-start: 2;
  grid-column: span 4;
  max-height: 15rem;
}
.galleryCol:nth-child(4) {
  grid-row-start: 2;
  grid-column: span 4;
  max-height: 15rem;
}
.galleryCol:nth-child(5) {
  grid-row-start: 2;
  grid-column: span 4;
  max-height: 15rem;
}
